@import "/node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Londrina+Solid:wght@300;400&display=swap');

:root {
    --ms-tag-color: #000;
    --ms-tag-font-weight: 400;
}

  
body {
    font-family: 'Londrina Solid', sans-serif;
}

h1 {
    font-family: 'Cinzel Decorative', serif;
}

main {
    .nav-logo {
        height: 150px;
        margin-top: 30px;
    }

    @media(max-width: 991px) {
        .nav-logo {
            margin-top: -10px;
            height: 100px;
        }
    }

    nav {
        background-color: #181818;
        max-height: 100px;
        font-weight: 700;
        font-family: 'Cinzel Decorative', serif;
    }
}


// bootstrap overrides
.form-check-input:checked {
    background-color: black;
    border-color: gray;
}

.page {
    p {
        margin-bottom: 5px !important;
        line-height: .95em !important
    }
    ul {
        margin-bottom: 2px !important;
    }
    li {
        line-height: .95em !important;
    }
    input[type=checkbox] {
        border: 2px solid;
    }
}

@media print {
    p {
        line-height: .85em !important
    }
    .p-1 {
        padding: 0.1rem !important;
    }
    .m-1 {
        margin: 0.1rem !important;
    }
}

