@import "/node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "/node_modules/bootstrap/scss/bootstrap.scss";


main {
    .nav-logo {
        height: 150px;
        margin-top: 30px;
    }

    nav {
        background-color: #181818;
        max-height: 100px;
    }
}